<div class="provider-card">
    <div class="provider-card-background ">
        <img class="provider-logo" src="../../assets/img/slack-logo.png"/>
        <div class="provider-name">
            {{name}}
        </div>
        <div class="star-rating">
            <div class="rating-number">
                {{ratingNumber}}
            </div>
            <div class="star-icon">
                <span class="iconify" data-inline="false" data-icon="bx:bxs-star" style="color: #132b3c; font-size: 24px;"></span>
            </div>
        </div>
        <div class="provider-business-name">
            {{businessName}}
        </div>
        <div class="provider-nit">
            {{nit}}
        </div>
        <a class="phone-icon" href="{{phoneNumber}}" target="_blank">
            <span class="iconify" data-inline="false" data-icon="bx:bxs-phone-call" style="color: #132b3c; font-size: 47px;"></span>
        </a>
        <a class="location-icon" href="{{address}}" target="_blank">
            <span class="iconify" data-inline="false" data-icon="fluent:location-16-filled" style="color: #132b3c; font-size: 47px;"></span>
        </a>
        <br/>
        <div class="delete-icon" (click)="deleteThisProvider();">
            <span class="iconify" data-inline="false" data-icon="fluent:delete-16-regular" style="color: #132b3c; font-size: 47px;"></span>
        </div>
        <div class="edit-icon" (click)="editThisProvider();">
            <span class="iconify" data-inline="false" data-icon="akar-icons:edit" style="color: #132b3c; font-size: 47px;"></span>
        </div>
    </div>
</div>