<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="desktop-view">
  <div class="provider-info-title">
    <div class="provider-info-title-text provider-info">
      provider.info
    </div>
  </div>
  <div class="container row">
    <div class="col-sm-2" style="background-color: black;height: 100px;width: 100px;">
    </div>
        <div class="col-sm-2 col-2" *ngFor="let providerInfo of providerInfoList" class="provider-card-position">
          <app-provider [providerInfo] = "providerInfo"></app-provider>
        </div>
  </div>
</div>
<router-outlet></router-outlet>
