html, body {
    height: 100%;
}

/* desktop-view */
.desktop-view {
position: absolute;
width: 100%;
height: auto !important;
min-height: 100%;

/* lineal-gradiant-orange-yellow */
background: linear-gradient(180deg, #E57D5D 0%, rgba(255, 255, 255, 0) 100%), #E2C768;
}

/* provider-info-title */
.provider-info-title {
/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
/*padding: 5px 25px;*/

position: absolute;
width: 321px;
height: 90px;
left: 102px;
top: 36px;

/* black */
border: 5px solid #132B3C;
box-sizing: border-box;
border-radius: 10px;
}

/* provider.info */
.provider-info{
position: relative;
width: 271px;
height: 50px;
left: 25px;
top: 14px;
}

/* provider-info-title */
.provider-info-title-text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;

/* black */
color: #132B3C;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.provider-card-position{
    position: relative;
    margin-top: 32px;
    margin-left: 51px;
}

.provider-card-container{
    margin-top: 195px;
}


/* add-bar */
.add-bar{
/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 33px 384px;

position: absolute;
width: 1009px;
height: 94px;
left: 50px;
top: 898px;

/* orange */
background: #E57D5D;
/* black */
border: 5px solid #132B3C;
box-sizing: border-box;
border-radius: 10px;
}

/* add-bar-text */
.add-bar-text{
position: static;
width: 241px;
height: 28px;
left: 384px;
top: 33px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

/* search-bar */
.search-bar{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 9px 18px;

position: absolute;
width: 670px;
height: 59px;
left: 746px;
top: 104px;

background: #FFFFFF;
/* black */
border: 5px solid #132B3C;
box-sizing: border-box;
border-radius: 10px;
}

/* search-bar-entry */
.search-bar-entry{
/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 604px;
height: 33px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* search-bar-text ... */
.search-bar-text{
position: static;
width: 558px;
height: 33px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 13px;
}

/* search-icon  */
.search-icon{
position: static;
width: 33px;
height: 33px;
left: 471px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 13px;
}

/* Vector */
.search-bar-icon-vector{
position: absolute;
left: 0%;
right: 0.01%;
top: 0%;
bottom: -0.01%;

/* black */
background: #132B3C;
}

/* dots-icon */
.dots-icon{
position: relative;
width: 77px;
height: 77px;
}

.provider-order-by-container{
    margin-top: 225px;
}

/* order-by-section */
.order-by-section{
position: relative;
}

/* order-by-card */
.order-by-card{
position: relative;
width: 297px;
height: 449px;
left: 0px;
top: 0px;
}

/* order-by-border */
.order-by-border{
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    
    /* black */
    background: #132B3C;
    border-radius: 10px;
    height: 100%;
    margin-left: 50px;
}

/* order-by-background */
.order-by-background{
position: absolute;
left: 1%;
right: 1%;
top: 1%;
bottom: 1%;
height: 98%;

/* black */
background: #132B3C;
border: 5px solid #E2C768;
border-radius: 10px;
box-sizing: border-box;
}

/* order-by-content */
.order-by-content{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;

}

/* order-by-text */
.order-by-text{
position: static;
width: 100%;
height: 100%;
left: 0px;
top: 2%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

/* light-yellow */
color: #F0DDAA;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10% 25%;
}

/* order-by-list */
.order-by-list{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 100%;
height: 309px;
left: 0px;
top: 82px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* highest-rated-providers-section */
.highest-rated-providers-section{
position: relative;
margin-top: 32px;
margin-left: 14%;
margin-bottom: 15%;
}


/* highest-rated-providers-card */
.highest-rated-providers-card{
position: relative;
width: 297px;
height: 312px;
left: 0px;
top: 0px;
}

/* highest-rated-providers-border */
.highest-rated-providers-border{
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;

/* black */
background: #132B3C;
border-radius: 10px;
height: 100%;
}

/* highest-rated-providers-background */
.highest-rated-providers-background{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 1%;
    bottom: 1%;
    height: 98%;

    /* black */
    background: #132B3C;
    border: 5px solid #E2C768;
    border-radius: 10px;
    box-sizing: border-box;
}


/* highest-rated-providers-content */
.highest-rated-providers-content{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 242px;
height: 244px;
left: 28px;
top: 34px;
}


/* highest-rated-providers-title */
.highest-rated-providers-title{
position: static;
width: 242px;
height: 64px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* light-yellow */
color: #F0DDAA;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}

/* highest-rated-providers-list */
.highest-rated-providers-list{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 234px;
height: 160px;
left: 0px;
top: 84px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 20px 0px;
}

/* highest-rated-providers */
.highest-rated-providers{
/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 234px;
height: 24px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}

/* star-review */
.star-review{
/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 54px;
height: 24px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 9px;
}

/* star-icon */
.start-icon{
position: static;
width: 24px;
height: 24px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 1px;
}

/* Vector */
.start-icon-vector{
position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* light-yellow */
background: #F0DDAA;
}

/* review-number */
.review-number{
position: static;
width: 29px;
height: 24px;
left: 25px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

/* light-yellow */
color: #F0DDAA;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 1px;
}

/* highest-rated-providers-name */
.highest-rated-providers-name{
position: static;
width: 171px;
height: 22px;
left: 63px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

/* light-yellow */
color: #F0DDAA;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 9px;
}
