<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="desktop-view">
  <div class="provider-info-title">
    <div class="provider-info-title-text provider-info">
      provider.info
    </div>
  </div>
  <div class="row">
    <a *ngIf="lastSearchText!=''" class="refresh-icon col-sm-6" (click)="searchTextClicked('');">
      <span class="iconify" data-inline="false" data-icon="foundation:refresh" style="font-size: 39px;position: relative;"></span>
    </a>
  <div class="search-bar col-sm-6" (keyup.enter)="searchTextClicked(searchText.value);">
    <div class="search-bar-entry row">
      <a class="search-icon col-sm-1" (onclick)="searchTextClicked(searchText.value);">
        <span class="iconify" data-inline="false" data-icon="fa-solid:search" style="color: #132b3c; font-size: 33px;"></span>
      </a>
      <input class="search-bar-text col-sm-11" style="border:none; outline: none;" placeholder="Search provider ..." #searchText/>
    </div></div>
  </div>
  <div class="row ml-5 mr-5">
    <div class="container row col-sm-9 provider-card-container"> 
          <div class="col-sm-2 col-2" *ngFor="let providerInfo of providerInfoList; trackBy: trackByProvider" class="provider-card-position">
            <app-provider [providerInfo] = "providerInfo"></app-provider>
          </div>
          <div class="dots-icon col-12 text-center" style="margin-top: 32px;">
            <span class="iconify" data-inline="false" data-icon="bx:bx-dots-horizontal-rounded" style="font-size: 77px;"></span>
          </div>
    </div>
    <div class="container row col-sm-3 provider-order-by-container">
      <div class="order-by-section">
        <div class="order-by-card">
          <div class="order-by-border">
            <div class="order-by-background">
              <div class="order-by-content">
                <div class="order-by-text">ORDER BY</div>
                <div class="order-by-list">
                  <div *ngFor="let category of orderByCategories; trackBy: trackByCategory">
                    <app-order-by-category [category] = "category" (categoryChange)="categoryChanged($event);"></app-order-by-category>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="highest-rated-providers-section">
        <div class="highest-rated-providers-card">
          <div class="highest-rated-providers-border">
            <div class="highest-rated-providers-background">
              <div class="highest-rated-providers-content">
                <div class="highest-rated-providers-title">HIGHEST RATED PROVIDERS</div>
                <div class="highest-rated-providers-list">
                  <div *ngFor="let ratedProvider of ratedProviders">
                    <app-highest-rated-provider [ratedProvider] = "ratedProvider"></app-highest-rated-provider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>
